*{
    margin: 0;
    border: 0;
}
body{
    width: 100dvw;
    background-color: rgb(240, 234, 234);
 /*
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.p1{
    font-size: large;
    color: white;
    border-radius: 15px 0px 15px 0px;
    padding: 15px;
    margin: 10px;
    background-color: rgb(24, 107, 38);
}
h1{
    font-size: 100px;
    text-align: center;
    color: darkgreen;
}
img[name="img-principal"]{
    width: 100vw;
    height: 90dvh;
}
img[name="img-1"]{
    width: 20dvw;
    height: 40dvh;
}


.how-to-recycle{
    display: flex;
    flex-direction: column;
}
[id="passo1"]{
    
    width: 30vw;
    color: white;
    margin:40px;
    border-radius: 10px;
    background-color: forestgreen;
    padding: 10px;
}

[id="passo2"]{
    width: 30vw;
    color: white;
    margin:40px;
    border-radius: 10px;
    background-color:forestgreen;
    padding: 10px;
}
[id="passo3"]{
    width: 30vw;
    color: white;
    margin:40px;
    border-radius: 10px;
    background-color: forestgreen;
    padding: 10px;
}
.img-txt1{
    display: flex;
    justify-content: space-around;
}
.img-txt2{
    display: flex;
}

.how-to-recycle{
    max-width: 80vw;
}
footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
}