*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input {
    margin: 5px;
    border-radius: 15px 0px 15px 0px;
    border: none;
    width: 80vw;
    height: 5vh;
    text-indent: 15px;/*place holder margin*/
    
}
.nome, .email, .telefone, .mensagem{
    display: flex;
    flex-direction: column;
}
 label{
    margin: 10px;
   margin-left:15px ;
   color: rgb(255, 255, 255);
}
h1{
    color: green;
}
h2{
    color: white;
}
.formulario{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    height: 80dvh;
    background-color: rgb(0, 70, 11);
}
input[type="submit"]{
    margin: 10px;
    width: 80vw;
    height: 6vh;
    text-indent: 0px;
    border-radius: 0px 15px 0px 15px;
    font-size: medium;
    background-color: forestgreen;
    color: white;
    border: 3px solid white; 
}
textarea{
    border-radius: 10px;
    width: 80vw;
    height: 20vh;
    text-indent: 15px;
}
